.search {
  width: 100%;
}

.searchBox {
  margin: auto;
  max-width: 1024px;
  width: 100%;
  display: flex;
  margin-top: -1.8rem;
  border: 4px solid goldenrod;
  padding: 4px;
}

.searchBox span {
  width: 100%;
}
.searchBox span input {
  padding: 9px 10px;
  width: 100%;
  outline:  2px blue;
  border: 2px solid rgb(235, 172, 11);
  font-size: 14px;
}
.search-btn {
  font-size: 14px !important;
  background-color: #003b95 !important;
  padding: 0 5px;
  text-transform: capitalize !important;
  border-radius: 0 5px 5px 0 !important;
}
